Cython==0.29.17
scipy==1.2.0
interact @ git+https://github.com/drugilsberg/interact.git
pandas==0.23.4
scikit-learn==0.20.2
networkx==2.2
fasttext @ git+https://github.com/facebookresearch/fastText
goatools==1.0.3
msgpack==1.0.0
textacy==0.6.2
pygraphviz==1.3  ### This may need to be backdated